# Dependencies
node_modules/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Authentication
auth.json

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Temporary files
*.tmp
*.temp